.container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    background-color: blueviolet;
    align-content: center;
    text-align: center;
    
}

.conversor-moeda-real{
    display: flex;
    width: 100%;


}

.conversor-moeda-real select {
    height: 30px auto;
    margin: 10px;
    align-content: center;
}

.moeda_real {
    text-align: right;
}